{
    "parser":"@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules":{
        "@typescript-eslint/explicit-function-return-type": "warn",
        "@typescript-eslint/member-delimiter-style": "warn",
        "array-callback-return": "warn",
        // "allowFunctionsWithoutTypeParameters": "warn",
        
        "quotes": [2, "single"]
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended", 
        "plugin:@typescript-eslint/recommended"
      ]
}